<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3 mt-5">
      <div class="card bg-light shadow-lg rounded">
        <div class="card-body">
          <h2 class="card-title text-center mb-4">Welcome to Our Bookstore</h2>
          <div class="text-center">
            <a routerLink="/api/auth/register" class="btn btn-primary btn-lg btn-block mb-3">Register</a>
            <a routerLink="/api/auth/login" class="btn btn-success btn-lg btn-block">Login</a>
          </div>
        </div>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
