<div class="container">
  <div class="row">
    <div class="col-md-12 mt-5">
      <h2 style="color: white">Welcome to Our Bookstore</h2>

      <!-- Фотографії книжок та ціни -->
      <section class="section">
        <h3>Featured Books</h3>
        <div class="row">
          <!-- Книга 1 -->
          <div class="col-md-4">
            <div class="card">
              <img src="../../../assets/1.jpeg" alt="Book 3" class="book-image" width="200" height="300">
              <div class="card-body">
                <h5 class="card-title">Book Title 1</h5>
                <p class="card-text">Description of Book 1.</p>
                <p class="card-text">Price: $19.99</p> <!-- Додайте ціну тут -->
              </div>
            </div>
          </div>

          <!-- Книга 2 -->
          <div class="col-md-4">
            <div class="card">
              <img src="../../../assets/2.jpeg" alt="Book 3" class="book-image" width="200" height="300">
              <div class="card-body">
                <h5 class="card-title">Book Title 2</h5>
                <p class="card-text">Description of Book 2.</p>
                <p class="card-text">Price: $24.99</p> <!-- Додайте ціну тут -->
              </div>
            </div>
          </div>

          <!-- Книга 3 -->
          <div class="col-md-4">
            <div class="card">
              <img src="../../../assets/3.jpeg" alt="Book 3" class="book-image" width="200" height="300">
              <div class="card-body">
                <h5 class="card-title">Book Title 3</h5>
                <p class="card-text">Description of Book 3.</p>
                <p class="card-text">Price: $14.99</p> <!-- Додайте ціну тут -->
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
