<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3 mt-5">
      <div class="card bg-light">
        <div class="card-body">
          <h2 class="card-title text-center py-3">Search</h2>
          <form (submit)="searchBooks()">
            <div class="form-group">
              <label for="searchTitle">Titlte:</label>
              <input type="text" id="searchTitle" [(ngModel)]="searchParams.titles" name="searchTitle" class="form-control">
            </div>
            <div class="form-group">
              <label for="searchAuthor">Author:</label>
              <input type="text" id="searchAuthor" [(ngModel)]="searchParams.authors" name="searchAuthor" class="form-control">
            </div>
            <div class="text-center">
              <button type="submit" class="btn btn-primary btn-lg btn-block mt-3">Пошук</button>
            </div>
          </form>
        </div>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
